<section class="main-screen mt-4">
    <div class="container d-flex justify-content-center">
        <form [formGroup]="userForm" (ngSubmit)="send(userForm.value)" class="w-75">
            <div *ngFor="let phone of getPhonesFormControls(); let i = index">
                <div class="d-flex mt-2">
                    <label class="mr-2 mt-1">Phone {{i+1}} </label>
                    <input type="number" class="form-control w-75" placeholder="Enter Phone Number"
                        [formControl]="phone">
                    <button (click)="removePhone(i)" class="btn btn-danger" *ngIf="userForm.value.phones.length>1"><i class="fa fa-trash-o"
                            aria-hidden="true"></i></button>
                </div>
            </div>
            <br>
            <button (click)="addPhone()" class="btn btn-success"><i class="fa fa-plus"
                    aria-hidden="true"></i>Add</button>
            <br>
            <br>
            <input type="submit" class="btn btn-success mr-3">
            <button  class="btn btn-danger ml-3"  routerLink="/main">Back</button>
            <div>
                {{userForm.value | json}}
            </div>
        </form>

    </div>
</section>