<section class="main-screen mt-4">
    <div class="container">
        <div class="row d-flex  justify-content-center mt-3">
Series:[{{series}}]
</div>
<div class="mt-3 d-flex justify-content-center">
    <label for="index" class="mr-3 mt-1">Enter Index:</label>
    <input type="number" class="form-control w-50" id="index" placeholder="Enter Index" (input)="index=$event.target.value">
</div>
<div class="row d-flex  justify-content-center mt-3">
    <button class="btn btn-success mr-3" (click)="getValue()">Submit</button>
    <button class="btn btn-danger ml-3" routerLink="/main">Back</button>

</div>
<div class="row d-flex  justify-content-center mt-3">
    Number at that entered index is = {{number}}
</div>
</div>
</section>

