<section class="main-screen mt-4">
    <div class="d-flex justify-content-center">
    <button class="btn btn-danger" routerLink="main">BACK</button>
    </div>
    <div class="container">
        <div class="row w-100">
            <div class="col-md-5 text-center card child-card ">
                <app-c1 [(value)]="myNumber"></app-c1>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-5 text-center card child-card ">
                <app-c2 [(value)]="myNumber"></app-c2>
            </div>
        </div>
        <div class="row w-100 d-flex justify-content-center mt-2 mb-2">
            <input type="text" [(ngModel)]="myNumber">
        </div>
        <div class="row w-100 text-center ">
            <div class="col-md-5 card child-card">
                <app-c3 [(value)]="myNumber"></app-c3>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-5 text-center card child-card ">
                <app-c4 [(value)]="myNumber"></app-c4>
            </div>
        </div>
</div>
</section>