<section class="main-screen">
    <div class="container">
        <div class="row d-flex  justify-content-center">
            <div class="col-md-3">
                <div class="card my-2 mx-2 mx-md-0">
                    <a href="#" routerLink="/home/q1">
                    <img src="../../assets/icons/question.svg" alt="" class="img-fluid">
                    <hr>
                    <h4 class="text-center my-3"> Q1 </h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card my-2 mx-2 mx-md-0">
                    <a href="#" routerLink="/home/q2">
                    <img src="../../assets/icons/question.svg" alt="" class="img-fluid">
                    <hr>
                    <h4 class="text-center my-3"> Q2 </h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="row d-flex  justify-content-center">
            <div class="col-md-3">
                <div class="card my-2 mx-2 mx-md-0">
                    <a href="#" routerLink="/home/q3">
                    <img src="../../assets/icons/question.svg" alt="" class="img-fluid">
                    <hr>
                    <h4 class="text-center my-3"> Q3 </h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card my-2 mx-2 mx-md-0">
                    <a href="#" routerLink="/home/q4">
                    <img src="../../assets/icons/question.svg" alt="" class="img-fluid">
                    <hr>
                    <h4 class="text-center my-3"> Q4 </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
