a{
    color: #000;
    text-decoration: none;
    margin: auto;
}
a:hover{
    color: black;
}
.main-screen{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.main-screen .card{
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.main-screen .card:hover{
    box-shadow: 0 5px 10px rgba(57,73,76,.35);
}
.main-screen .card img{
    width: 90px;
    display: block;
    margin: 15px auto 0px auto;
    padding-bottom: 15px;
}

.main-screen .card h4{
    line-height: 23px;
    font-size: 15px;
    font-weight: 500;
}